<div class="Parent"> 
    <div class="Left">
        <h6 routerLink="interpolation"> interpolation </h6>
        <h6 routerLink="event-binding"> event-binding </h6>
        <h6 routerLink="two-way-binding"> two way binding </h6>
        <h6 routerLink="calculator"> calculator </h6>
        <h6 routerLink="rectangle"> rectangle </h6>
        <h6 routerLink="event-registration"> Event Registration</h6>
        <h6 routerLink="pipes"> pipes </h6>
        <h5 routerLink="employee-registration"> employee-registration </h5>
        <h3 routerLink="cars"> List of Cars </h3>
        <h5 routerLink="stars"> stars </h5>
        <h5 routerLink="gpay"> G-Pay </h5>
        <h6 routerLink="bank"> Bank </h6>
        <h4 routerLink="vehicles"> Vehicle Details </h4>
        <h4 routerLink="create-account"> Create Account </h4>
        <h4 routerLink="create-user"> Create User </h4>
        <button routerLink="/login"> Logout </button>
        
    </div>
    <div class="Right">
        <router-outlet></router-outlet>
    </div>

</div>
