.Parent{
    height:100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Left{
    height: 100%;
    width: 20%;
    background-color: black;
    color: white;
    text-align: center;
    }

    .Left > h6{
        cursor: pointer;
    }
    .Left > h6:hover{
        background-color: gainsboro;
    }
.Right{
    height: 100%;
    width: 80%;
    background-color: teal;
    overflow: auto;
}